# ============================================================
# .gitignore - Archivos que NO se suben a GitHub
# ============================================================

.env
.env.real

# Carpeta de compilación 
/target

# Archivos del sistema
.DS_Store
Thumbs.db
